name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest


    steps:
    - uses: actions/checkout@v4

    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build and Push Docker image 
      run: |
        TAG=${{ github.run_number }}
        docker build . --file Dockerfile --tag simple-calc-webapp:V_0.$TAG
        docker push joship4/simple-calc-webapp:V_0.$TAG
