name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest


    steps:
    - uses: actions/checkout@v4

    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build and Push Docker image 
      run: |
        TAG=${{ github.run_number }}
        IMAGE=${{ secrets.DOCKER_USERNAME }}/simple-calc-webapp
        docker build . --file Dockerfile --tag $IMAGE:V_0.$TAG
        docker push $IMAGE:V_0.$TAG
